@use 'sass:color';
@use '../settings/settings' as s;
@use '../funcs' as funcs;

.u-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;
  
    &-primary {
      background-color: funcs.get-color('blue-v2');
      color: #ffffff;
      border: 1px solid funcs.get-color('blue-v2');
  
      &:hover, &:focus {
        background-color: color.adjust(funcs.get-color('blue-v2'), $lightness: -10%);
        border-color: color.adjust(funcs.get-color('blue-v2'), $lightness: -10%);
      }
    }
  
    &-secondary {
      background-color: funcs.get-color('grey-v2');
      color: #ffffff;
      border: 1px solid funcs.get-color('grey-v2');
  
      &:hover, &:focus {
        background-color: color.adjust(funcs.get-color('grey-v2'), $lightness: -10%);
        border-color: color.adjust(funcs.get-color('grey-v2'), $lightness: -10%);
      }
    }
  
    &-ghost {
      background-color: transparent;
      color: funcs.get-color('blue-v2');
      border: 1px solid funcs.get-color('blue-v2');
  
      &:hover, &:focus {
        background-color: rgba(0, 123, 255, 0.1);
      }
    }
  
    &-ghost-borderless {
      background-color: transparent;
      color: funcs.get-color('blue-v2');
      border: none;
      padding: 0.5rem 0;
  
      &:hover, &:focus {
        background-color: transparent;
        color: color.adjust(funcs.get-color('blue-v2'), $lightness: 15%);
        text-decoration: underline;
      }
    }


    @each $name, $color in s.$colors {
        &-ghost-#{$name} {
            background-color: transparent;
            color: $color;
            border: 1px solid $color;

            &:hover, &:focus {
              background-color: rgba($color, 0.1);
            }
        }

        &-ghost-borderless-#{$name} {
            background-color: transparent;
            color: $color;
            border: none;
            padding: 0.5rem 0;

            &:hover, &:focus {
              background-color: transparent;
              color: color.adjust($color, $lightness: 10%);
              text-decoration: underline;
            }
        }
    }
  
    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }
  