@use "../settings/settings" as settings;
@use "../funcs" as funcs;
hr {
    border: none;
    border-top: 1px solid funcs.get-color("grey-v2");
    margin: 1rem 0;
    opacity: 0.8;
    position: relative;
    z-index: 1;
}

@each $color-name, $color in settings.$colors {
    hr.#{$color-name} {
        border-top-color: funcs.get-color($color-name);
    }
}
