.menu-button {
  background: none;
  border: none;
  font-size: 2.4rem;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.navbar-title {
  font-size: 2rem;
}