@use "../settings/settings" as settings;
.l-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    z-index: 1;
    position: relative;

    &__navbar {
        width: 100%;
        padding: 0 settings.$space;
        text-align: center;
    }

    &__content {
        width: 100%;
        max-width: 400px;
        padding: 0 settings.$space;
    }

    &__body {
        flex: 1;
    }
}

.l-panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    z-index: 1;
    position: relative;

    &__navbar {
        width: 100%;
        padding: 0 settings.$space;
        align-items: center;
    }

    &__content {
        flex: 1;
        display: flex;
        padding: 0;
    }

    &__sidebar {
        width: 250px;
        padding: 0 settings.$space;

        &.hide {
            display: none;
        }
    }

    &__body {
        flex: 1;
        padding: 0 settings.$space;
    }
}

.l-panel-sticky {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__content,
    &__body {
        flex: 1;
        padding: 0 settings.$space;
    }
}


.l-general,
.l-panel,
.l-panel-sticky {

    &__header {
        padding: 0 settings.$space;
    }

    &__footer {
        width: 100%;
        padding: 0 settings.$space;
    }

    &__header,
    &__navbar,
    &__content,
    &__body,
    &__footer,
    &__sidebar {
        &--no-padding {
            padding: 0;
        }
    }
}