@use "../settings/settings" as settings;
.l-general {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    &__navbar {
        width: 100%;
        padding: settings.$space;
        text-align: center;
    }

    &__content {
        width: 100%;
        max-width: 400px;
        padding: settings.$space;
        text-align: center;
    }

    &__body {
        flex: 1;
        display: flex;
    }

    &__footer {
        width: 100%;
        padding: settings.$space;
        text-align: center;
        margin-top: auto;
    }

    &__header,
    &__navbar,
    &__content,
    &__body,
    &__footer {
        &--no-padding {
            padding: 0;
        }
    }
}

.l-panel {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__navbar {
        width: 100%;
        padding: settings.$space;
    }

    &__body {
        flex: 1;
        display: flex;
    }

    &__sidebar {
        width: 250px;
        padding: settings.$space;
    }

    &__content {
        flex: 1;
        padding: 1rem;
    }

    &__footer {
        width: 100%;
        padding: settings.$space;
        text-align: center;
    }

    &__header,
    &__navbar,
    &__content,
    &__footer,
    &__sidebar {
        &--no-padding {
            padding: 0;
        }
    }
}

.l-panel-sticky {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &__header {
        padding: settings.$space;
        text-align: center;
    }

    &__content,
    &__body {
        flex: 1;
        padding: settings.$space;
    }

    &__footer {
        padding: settings.$space;
        text-align: center;
    }

    &__header,
    &__content,
    &__body,
    &__footer {
        &--no-padding {
            padding: 0;
        }
    }
}
