@use '../funcs' as funcs;

.u-btn {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease;

    box-sizing: border-box;

    &.u-btn-primary {
        @include funcs.btn-action('primary');
    }

    &.u-btn-secondary {
        @include funcs.btn-action('secondary');
    }

    &.u-btn-tertiary {
        @include funcs.btn-action('tertiary');
    }

    &.u-btn-ghost {
        @include funcs.btn-action('ghost');
    }

    &.u-btn-danger {
        @include funcs.btn-action('danger');
    }

    &.u-btn-info {
        @include funcs.btn-action('info');
    }

    @include funcs.mk-btn-primary-multicolors();
    @include funcs.mk-btn-secondary-multicolors();

    &--large {
        width: 100%;
    }

    &--no-width {
        padding: 0;
        width: auto;
    }
}