@use 'sass:color';
@use 'sass:map';
@use 'settings' as *;

$buttons: (
    primary: (
        background: map.get($colors, 'blue-v2'),
        border: solid 2px map.get($colors, 'blue-v2'),
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(map.get($colors, 'blue-v2'), $lightness: -10%),
                border: solid 2px color.adjust(map.get($colors, 'blue-v2'), $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: map.get($colors, 'blue-v2'),
                border: solid 2px color.adjust(map.get($colors, 'blue-v2'), $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),
    secondary: (
        background: transparent,
        border: 2px solid map.get($colors,'blue-v2'),
        text: map.get($colors,'blue-v2'),
        states: (
            hover: (
                background: transparent,
                text: color.adjust(map.get($colors,'blue-v2'), $lightness: -10%),
            ),
            focus: (
                text: map.get($colors,'blue-v2'),
            ),
            disabled: (
                background: transparent,
                border: solid 2px map.get($colors,'grey-50'),
                text: map.get($colors,'grey-50')
            ),
        ),
    ),
    ghost: (
        background: transparent,
        border: solid 2px transparent,
        text: map.get($colors,'blue-v2'),
        states: (
            hover: (
                background: transparent,
                border: solid 2px transparent,
                text: map.get($colors,'blue')
            ),
            focus: (
                background: transparent,
                border: solid 2px transparent,
                text: map.get($colors,'blue-v2')
            ),
            disabled: (
                background: transparent,
                border: solid 2px transparent,
                text: map.get($colors,'grey-50')
            ),
        ),
    ),


    danger: (
        background: map.get($colors,'red-20'),
        border: solid 2px map.get($colors,'red-20'),
        text: map.get($colors,'white-pure'),
        states: (
            hover: (
                background: color.adjust(map.get($colors,'red-20'), $lightness: -10%),
                border: solid 2px color.adjust(map.get($colors,'red-20'), $lightness: -10%),
                text: map.get($colors,'white-pure'),
            ),
            focus: (
                background: map.get($colors,'green'),
                border: solid 2px color.adjust(map.get($colors,'red-20'), $lightness: -5%),
                text: map.get($colors,'white-pure'),
            ),
            disabled: (
                background: map.get($colors,'red-10'),
                border: solid 2px map.get($colors,'red-10'),
                text: color.adjust(map.get($colors,'red-20'), $lightness: -5%)
            ),
        ),
    ),


    info: (
        background: map.get($colors,'cyan-20'),
        border: solid 2px map.get($colors,'cyan-20'),
        text: map.get($colors,'white-pure'),
        states: (
            hover: (
                background: color.adjust(map.get($colors,'cyan-20'), $lightness: -10%),
                border: solid 2px color.adjust(map.get($colors,'cyan-20'), $lightness: -10%),
                text: map.get($colors,'white-pure'),
            ),
            focus: (
                background: map.get($colors,'cyan'),
                border: solid 2px color.adjust(map.get($colors,'cyan-20'), $lightness: -5%),
                text: map.get($colors,'white-pure'),
            ),
            disabled: (
                background: map.get($colors,'cyan-10'),
                border: solid 2px map.get($colors,'cyan-10'),
                text: color.adjust(map.get($colors,'cyan-20'), $lightness: -5%)
            ),
        ),
    ),

    success: (
        background: map.get($colors, 'green'),
        border: solid 2px map.get($colors, 'green'),
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(map.get($colors, 'green'), $lightness: -10%),
                border: solid 2px color.adjust(map.get($colors, 'green'), $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: map.get($colors, 'green'),
                border: solid 2px color.adjust(map.get($colors, 'green'), $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    facebook: (
        background: #1877f2,
        border: solid 2px #1877f2,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#1877f2, $lightness: -10%),
                border: solid 2px color.adjust(#1877f2, $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #1877f2,
                border: solid 2px color.adjust(#1877f2, $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    instagram: (
        background: #e4405f,
        border: solid 2px #e4405f,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#e4405f, $lightness: -10%),
                border: solid 2px color.adjust(#e4405f, $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #e4405f,
                border: solid 2px color.adjust(#e4405f, $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    x: (
        background: #000000,
        border: solid 2px #000000,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#000000, $lightness: 10%),
                border: solid 2px color.adjust(#000000, $lightness: 10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #000000,
                border: solid 2px color.adjust(#000000, $lightness: 5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    youtube: (
        background: #ff0000,
        border: solid 2px #ff0000,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#ff0000, $lightness: -10%),
                border: solid 2px color.adjust(#ff0000, $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #ff0000,
                border: solid 2px color.adjust(#ff0000, $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    linkedin: (
        background: #0a66c2,
        border: solid 2px #0a66c2,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#0a66c2, $lightness: -10%),
                border: solid 2px color.adjust(#0a66c2, $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #0a66c2,
                border: solid 2px color.adjust(#0a66c2, $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    tiktok: (
        background: #010101,
        border: solid 2px #010101,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#010101, $lightness: 10%),
                border: solid 2px color.adjust(#010101, $lightness: 10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #010101,
                border: solid 2px color.adjust(#010101, $lightness: 5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    whatsapp: (
        background: #25d366,
        border: solid 2px #25d366,
        text: map.get($colors, 'white-pure'),
        states: (
            hover: (
                background: color.adjust(#25d366, $lightness: -10%),
                border: solid 2px color.adjust(#25d366, $lightness: -10%),
                text: map.get($colors, 'white-pure'),
            ),
            focus: (
                background: #25d366,
                border: solid 2px color.adjust(#25d366, $lightness: -5%),
                text: map.get($colors, 'white-pure'),
            ),
            disabled: (
                background: map.get($colors, 'grey-50'),
                border: solid 2px map.get($colors, 'grey-50'),
                text: map.get($colors, 'grey-60')
            ),
        ),
    ),

    
);
